{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}")</script>
    {% endfor %}
{% endif %}

<div class="container">
  <div class="row" align="center">
    <div class="col first">
      <form method="post" action="{% url 'UploadDropDown' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1.files }} <br> <br>
          <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Upload Files</button>
      </form>
    </div>
    <div class="col" align="center">
      <form method="post" action="{% url 'UploadFolderLocation' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form2.folder }} <br>
          <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Upload Files</button>
      </form>
    </div>
  </div>
</div>

<table class="table table-warning table-striped" align="center">
    <tr class="table-dark">
        <th width="400"> Email ID </th>
        <th width="350"> Contact No. </th>
        <th> Location </th>
    </tr>
    {% if obj %}
        <tr class="table-info">
            <td align="center" colspan="3"><b>Total Number of Records : {{ count }}</b></td>
        </tr>
        {% for key, value in obj.items %}
            <tr>
                <td>{{ key }}</td>
                {% for i in value %}
                    {% if "cv" in i %}
                        <td><a href="http://127.0.0.1:8000/media/{{ i }}">http://127.0.0.1:8000/media/{{ i }}</a></td>
                    {% else %}
                        <td>{{ i }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3" align="center"><b>No Records Available</b></td>
        </tr>
    {% endif %}
</table>
{% if count != 0 %}
    <br>
    <center> <a href="{% url 'Download' %}"><button type="button" class="btn btn-warning"><i class="fa fa-download"></i> Download Output</button></a> </center>
    <br> <br>
{% endif %}

{% endblock %}